# ðŸ“Š RelatÃ³rio Simples - AnÃ¡lise de Marketing.

CÃ³digo Python â€“ Google Colab.

O que o cÃ³digo faz:

- LÃª o arquivo dados_mkt_campanhas.json
- Cria o trimestre a partir da data.
- Agrupa por Canal + Trimestre.

â€¢	Calcula:
- Investimento total.
-	Cliques totais.
- Custo por Clique (CPC = gasto / cliques).
- Mostra tudo com 3 casas decimais.

# ðŸ“Œ CÃ³digo:

In [5]:
# Importar bibliotecas:

import pandas as pd
import json

In [6]:
# Carregar arquivo JSON:

df = pd.read_json('/content/dados_mkt_campanhas.json')

In [7]:
# Converter data para datetime:

df['data'] = pd.to_datetime(df['data'])

In [8]:
# Criar coluna de trimestre:

df['trimestre'] = df['data'].dt.to_period('Q').astype(str)

In [12]:
# Agrupar por canal e trimestre:

resumo = (
    df.groupby(['trimestre', 'canal'])
      .agg(
          investimento_total=('gasto', 'sum'),
          cliques_totais=('cliques', 'sum')
      )
      .reset_index()
)

print(resumo)

   trimestre        canal  investimento_total  cliques_totais
0     2025Q1         Blog                 500            1200
1     2025Q1   Google Ads                6000           11500
2     2025Q1    Instagram               21000           51600
3     2025Q1     LinkedIn               11000            2050
4     2025Q1     TV Local               15000               0
5     2025Q1      YouTube                8000           20000
6     2025Q2   Google Ads               10000           13100
7     2025Q2    Instagram                7500           22000
8     2025Q2     LinkedIn                7500            2600
9     2025Q2       TikTok                5000           25000
10    2025Q2      YouTube                5000           15000
11    2025Q3   E-mail Mkt                 500            1500
12    2025Q3   Google Ads                9500           12000
13    2025Q3    Instagram                9800           28500
14    2025Q3     LinkedIn                4200            1130
15    2025Q3    Pinterest                1000            8000
16    2025Q3      YouTube                5000           16000
17    2025Q4   Google Ads               20000           49100
18    2025Q4    Instagram               27500           81000
19    2025Q4     LinkedIn               10000            7000
20    2025Q4       TikTok                6000           40000
21    2026Q1       E-mail                 200             800
22    2026Q1     Facebook                2000            5000
23    2026Q1   Google Ads                3500            4500
24    2026Q1  Google Maps                 500             300
25    2026Q1    Instagram               12000           30500
26    2026Q1     LinkedIn                2500             700
27    2026Q1       TikTok                1000           15000

In [13]:
# Calcular CPC (custo por clique):

resumo['cpc'] = resumo['investimento_total'] / resumo['cliques_totais']
print(resumo['cpc'])

0     0.416667
1     0.521739
2     0.406977
3     5.365854
4          inf
5     0.400000
6     0.763359
7     0.340909
8     2.884615
9     0.200000
10    0.333333
11    0.333333
12    0.791667
13    0.343860
14    3.716814
15    0.125000
16    0.312500
17    0.407332
18    0.339506
19    1.428571
20    0.150000
21    0.250000
22    0.400000
23    0.777778
24    1.666667
25    0.393443
26    3.571429
27    0.066667
Name: cpc, dtype: float64

In [14]:
# Ajustar para 3 casas decimais:

resumo[['investimento_total', 'cliques_totais', 'cpc']] = resumo[
    ['investimento_total', 'cliques_totais', 'cpc']
].round(3)

print(resumo[['investimento_total', 'cliques_totais', 'cpc']])

    investimento_total  cliques_totais    cpc
0                  500            1200  0.417
1                 6000           11500  0.522
2                21000           51600  0.407
3                11000            2050  5.366
4                15000               0    inf
5                 8000           20000  0.400
6                10000           13100  0.763
7                 7500           22000  0.341
8                 7500            2600  2.885
9                 5000           25000  0.200
10                5000           15000  0.333
11                 500            1500  0.333
12                9500           12000  0.792
13                9800           28500  0.344
14                4200            1130  3.717
15                1000            8000  0.125
16                5000           16000  0.312
17               20000           49100  0.407
18               27500           81000  0.340
19               10000            7000  1.429
20                6000           40000  0.150
21                 200             800  0.250
22                2000            5000  0.400
23                3500            4500  0.778
24                 500             300  1.667
25               12000           30500  0.393
26                2500             700  3.571
27                1000           15000  0.067

In [17]:
# Ordenar para facilitar anÃ¡lise:

resumo = resumo.sort_values(['trimestre', 'investimento_total'], ascending=[True, False])
print(resumo)

   trimestre        canal  investimento_total  cliques_totais    cpc
2     2025Q1    Instagram               21000           51600  0.407
4     2025Q1     TV Local               15000               0    inf
3     2025Q1     LinkedIn               11000            2050  5.366
5     2025Q1      YouTube                8000           20000  0.400
1     2025Q1   Google Ads                6000           11500  0.522
0     2025Q1         Blog                 500            1200  0.417
6     2025Q2   Google Ads               10000           13100  0.763
7     2025Q2    Instagram                7500           22000  0.341
8     2025Q2     LinkedIn                7500            2600  2.885
9     2025Q2       TikTok                5000           25000  0.200
10    2025Q2      YouTube                5000           15000  0.333
13    2025Q3    Instagram                9800           28500  0.344
12    2025Q3   Google Ads                9500           12000  0.792
16    2025Q3      YouTube                5000           16000  0.312
14    2025Q3     LinkedIn                4200            1130  3.717
15    2025Q3    Pinterest                1000            8000  0.125
11    2025Q3   E-mail Mkt                 500            1500  0.333
18    2025Q4    Instagram               27500           81000  0.340
17    2025Q4   Google Ads               20000           49100  0.407
19    2025Q4     LinkedIn               10000            7000  1.429
20    2025Q4       TikTok                6000           40000  0.150
25    2026Q1    Instagram               12000           30500  0.393
23    2026Q1   Google Ads                3500            4500  0.778
26    2026Q1     LinkedIn                2500             700  3.571
22    2026Q1     Facebook                2000            5000  0.400
27    2026Q1       TikTok                1000           15000  0.067
24    2026Q1  Google Maps                 500             300  1.667
21    2026Q1       E-mail                 200             800  0.250

In [18]:
# Exibir resultado

resumo

   trimestre        canal  investimento_total  cliques_totais    cpc
2     2025Q1    Instagram               21000           51600  0.407
4     2025Q1     TV Local               15000               0    inf
3     2025Q1     LinkedIn               11000            2050  5.366
5     2025Q1      YouTube                8000           20000  0.400
1     2025Q1   Google Ads                6000           11500  0.522
0     2025Q1         Blog                 500            1200  0.417
6     2025Q2   Google Ads               10000           13100  0.763
7     2025Q2    Instagram                7500           22000  0.341
8     2025Q2     LinkedIn                7500            2600  2.885
9     2025Q2       TikTok                5000           25000  0.200
10    2025Q2      YouTube                5000           15000  0.333
13    2025Q3    Instagram                9800           28500  0.344
12    2025Q3   Google Ads                9500           12000  0.792
16    2025Q3      YouTube                5000           16000  0.312
14    2025Q3     LinkedIn                4200            1130  3.717
15    2025Q3    Pinterest                1000            8000  0.125
11    2025Q3   E-mail Mkt                 500            1500  0.333
18    2025Q4    Instagram               27500           81000  0.340
17    2025Q4   Google Ads               20000           49100  0.407
19    2025Q4     LinkedIn               10000            7000  1.429
20    2025Q4       TikTok                6000           40000  0.150
25    2026Q1    Instagram               12000           30500  0.393
23    2026Q1   Google Ads                3500            4500  0.778
26    2026Q1     LinkedIn                2500             700  3.571
22    2026Q1     Facebook                2000            5000  0.400
27    2026Q1       TikTok                1000           15000  0.067
24    2026Q1  Google Maps                 500             300  1.667
21    2026Q1       E-mail                 200             800  0.250

# ðŸ“Š Colunas finais:

- trimestre
- canal
- investimento_total
- cliques_totais
- cpc (cliques x investimento)